<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  {% seo %}

  

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [['$','$'], ['\\(','\\)']],
          
        },
        TeX: {
          equationNumbers: {
            autoNumber: "AMS"
          }
        }
      });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
    <script>
      const headings = document.querySelectorAll('h1[id],h2[id]'); // 1
      const linkContent = '🔗'; // 2
      for (const heading of headings) { // 3
          const linkIcon = document.createElement('a'); // 4
          linkIcon.setAttribute('href', `#${heading.id}`); // 5
          linkIcon.innerHTML = linkContent; // 6
          heading.appendChild(linkIcon); // 7
      }
    </script>
  </body>

</html>
